[project]
	description = namban is a clojure library for conversion between hiragana, katakana, romaji and more.
[access "refs/*"]
	owner = group user/Carlos Cunha (ccfontes)
[access "refs/for/refs/*"]
	read = group user/Carlos Cunha (ccfontes)
	push = group user/Carlos Cunha (ccfontes)
	label-Code-Review = -2..+2 group user/Carlos Cunha (ccfontes)
	label-Verified = -1..+1 group user/Carlos Cunha (ccfontes)
	rebase = group user/Carlos Cunha (ccfontes)
	removeReviewer = group user/Carlos Cunha (ccfontes)
	submit = group user/Carlos Cunha (ccfontes)
[access "refs/heads/*"]
	read = group user/Carlos Cunha (ccfontes)
	create = group user/Carlos Cunha (ccfontes)
	push = +force group user/Carlos Cunha (ccfontes)
	pushMerge = group user/Carlos Cunha (ccfontes)
[access "refs/tags/*"]
	push = +force group user/Carlos Cunha (ccfontes)
	pushTag = group user/Carlos Cunha (ccfontes)
	pushSignedTag = group user/Carlos Cunha (ccfontes)
